### Load The Data

In [160]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [161]:
ratings=pd.read_csv("C:\\Users\\Sai Kiran\\OneDrive\\Desktop\\projects\\mrsy_ml\\ratings.csv")
movies=pd.read_csv("C:\\Users\\Sai Kiran\\OneDrive\\Desktop\\projects\\mrsy_ml\\movies.csv")
credits=pd.read_csv("C:\\Users\\Sai Kiran\\OneDrive\\Desktop\\projects\\mrsy_ml\\credits.csv")
movies1= pd.read_csv("C:\\Users\\Sai Kiran\\OneDrive\\Desktop\\projects\\mrsy_ml\\movies_small.csv",sep=";")

In [162]:
credits.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [163]:
credits.shape

(4803, 4)

In [164]:
credits.describe()

            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000

# Popularity-Based Filtering

### calculate weighted rating

WR = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C

* R = average rating for the movie (mean) 
* v = number of votes for the movie 
* m = minimum votesfor required 
* C = average rating across all movies

In [165]:
m = movies['vote_count'].quantile(0.9)
m

1838.4000000000015

In [167]:
C = movies['vote_average'].mean()
C

6.092171559442011

In [178]:
movies_filter = movies.copy().loc[movies["vote_count"] >= m]

In [179]:
def weighted_rating(row, m, C):
    R = row['vote_average']
    v = row['vote_count']
    wr = ((v / v + m) * R) + ((m / (v + m)) * C)
    return wr

In [180]:
movies_filter["weighted_rating"] = movies_filter.apply(weighted_rating, args=(m, C), axis=1)

In [181]:
popalurity_based = movies_filter.sort_values("weighted_rating", ascending=False)[["title","weighted_rating"]].head(100).to_dict()

In [182]:
popalurity_based

{'title': {1881: 'The Shawshank Redemption',
  3337: 'The Godfather',
  2731: 'The Godfather: Part II',
  2294: 'Spirited Away',
  3865: 'Whiplash',
  1818: "Schindler's List",
  3232: 'Pulp Fiction',
  662: 'Fight Club',
  2247: 'Princess Mononoke',
  1987: "Howl's Moving Castle",
  4602: '12 Angry Men',
  2170: 'Psycho',
  3719: "One Flew Over the Cuckoo's Nest",
  3057: 'American History X',
  1847: 'GoodFellas',
  690: 'The Green Mile',
  1990: 'The Empire Strikes Back',
  809: 'Forrest Gump',
  65: 'The Dark Knight',
  4302: 'The Good, the Bad and the Ugly',
  2453: 'Dead Poets Society',
  2760: 'Room',
  3454: 'The Usual Suspects',
  2284: 'The Shining',
  3573: 'Memento',
  2091: 'The Silence of the Lambs',
  1553: 'Se7en',
  2912: 'Star Wars',
  329: 'The Lord of the Rings: The Return of the King',
  95: 'Interstellar',
  96: 'Inception',
  1405: 'The Pianist',
  3940: 'Oldboy',
  1525: 'Apocalypse Now',
  4337: 'Taxi Driver',
  1850: 'Scarface',
  4300: 'Reservoir Dogs',
  1196: 'The Prestige',
  1532: 'The Grand Budapest Hotel',
  494: 'The Lion King',
  2522: 'The Imitation Game',
  2285: 'Back to the Future',
  77: 'Inside Out',
  330: 'The Lord of the Rings: The Two Towers',
  262: 'The Lord of the Rings: The Fellowship of the Ring',
  3701: 'Requiem for a Dream',
  2975: 'Good Will Hunting',
  3571: 'Dallas Buyers Club',
  2966: '2001: A Space Odyssey',
  1051: 'Prisoners',
  2516: 'American Beauty',
  1725: 'Blade Runner',
  2152: 'Eternal Sunshine of the Spotless Mind',
  2105: '12 Years a Slave',
  1997: 'Her',
  351: 'The Departed',
  3158: 'Alien',
  1490: 'Return of the Jedi',
  628: 'Saving Private Ryan',
  274: 'Gladiator',
  693: 'Gone Girl',
  571: 'Inglourious Basterds',
  298: 'The Wolf of Wall Street',
  634: 'The Matrix',
  94: 'Guardians of the Galaxy',
  1819: 'The Help',
  2862: 'About Time',
  3887: 'Trainspotting',
  2123: 'Spotlight',
  2607: 'The Big Lebowski',
  2178: 'Into the Wild',
  1813: 'Gran Torino',
  1260: 'Amélie',
  2547: 'The Theory of Everything',
  697: 'The Truman Show',
  88: 'Big Hero 6',
  57: 'WALL·E',
  439: 'Shutter Island',
  287: 'Django Unchained',
  1332: 'Rush',
  1557: 'Million Dollar Baby',
  824: 'The Pursuit of Happyness',
  2905: 'Snatch',
  2776: 'The Perks of Being a Wallflower',
  1829: 'No Country for Old Men',
  493: 'A Beautiful Mind',
  1559: 'The Notebook',
  1145: 'The Sixth Sense',
  2403: 'Aliens',
  556: 'Braveheart',
  3706: 'Donnie Darko',
  883: 'Catch Me If You Can',
  2085: 'Raiders of the Lost Ark',
  279: 'Terminator 2: Judgment Day',
  932: 'V for Vendetta',
  828: 'Kill Bill: Vol. 1',
  1541: 'Toy Story',
  191: 'Harry Potter and the Prisoner of Azkaban',
  66: 'Up',
  583: 'Big Fish'},
 'weighted_rating': {1881: 15636.01514508981,
  3337: 15452.408618386708,
  2731: 15269.183636541795,
  2294: 15268.992359853999,
  3865: 15268.85833106739,
  1818: 15268.835975645323,
  3232: 15268.110922640362,
  662: 15268.015418187517,
  2247: 15086.0108233095,
  1987: 15086.004700526171,
  4602: 15085.939730414391,
  2170: 15085.773307088044,
  3719: 15085.434195189584,
  3057: 15085.38715396237,
  1847: 15085.335124072755,
  690: 15084.98266515951,
  1990: 15084.531246299915,
  809: 15084.226890879532,
  65: 15083.889214198653,
  4302: 14901.839148839572,
  2453: 14901.605080819414,
  2760: 14901.577186794388,
  3454: 14901.339326092791,
  2284: 14901.14161707741,
  3573: 14901.049151812857,
  2091: 14900.923017829615,
  1553: 14900.61300526014,
  2912: 14900.46348366834,
  329: 14900.27102360993,
  95: 14900.021502998332,
  96: 14899.858381067519,
  1405: 14718.225023821014,
  3940: 14718.160260135042,
  1525: 14718.076624080475,
  4337: 14717.760901860092,
  1850: 14717.539931513233,
  4300: 14717.223313255581,
  1196: 14716.997901594848,
  1532: 14716.961702613482,
  494: 14716.752429612297,
  2522: 14716.681187107542,
  2285: 14716.61458663134,
  77: 14716.533569274501,
  330: 14716.401004589077,
  262: 14716.262261528065,
  3701: 14533.875931282975,
  2975: 14533.668880327556,
  3571: 14533.630639275874,
  2966: 14533.575740673836,
  1051: 14533.534819879544,
  2516: 14533.43413677737,
  1725: 14533.354447431453,
  2152: 14533.299896582206,
  2105: 14533.291755350654,
  1997: 14533.14695760942,
  351: 14533.073035936633,
  3158: 14533.03538649974,
  1490: 14532.982152750094,
  628: 14532.886372007866,
  274: 14532.798990325524,
  693: 14532.714450183754,
  571: 14532.614536330486,
  298: 14532.59182488584,
  634: 14532.30229234789,
  94: 14532.227138284949,
  1819: 14350.307901023081,
  2862: 14350.187785167953,
  3887: 14349.81251083699,
  2123: 14349.795432807648,
  2607: 14349.670736335096,
  2178: 14349.613452962061,
  1813: 14349.5943579309,
  1260: 14349.495403658406,
  2547: 14349.494981200709,
  697: 14349.076728706426,
  88: 14348.724651490576,
  57: 14348.69684994529,
  439: 14348.690112570337,
  287: 14348.258215038031,
  1332: 14166.10144826625,
  1557: 14165.998377564625,
  824: 14165.946770911429,
  2905: 14165.737664237735,
  2776: 14165.710194780904,
  1829: 14165.693349071536,
  493: 14165.690485661373,
  1559: 14165.663167161687,
  1145: 14165.626529505142,
  2403: 14165.594108847647,
  556: 14165.54447282679,
  3706: 14165.497013495187,
  883: 14165.36811520484,
  2085: 14165.34750899356,
  279: 14165.239389745817,
  932: 14165.16330173157,
  828: 14165.030094026426,
  1541: 14164.955801023576,
  191: 14164.831622494617,
  66: 14164.66609712404,
  583: 13982.362411072674}}